<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contactos</title>
        <script type="text/javascript" src="../static/js/get_for_email.js"></script>
    </head>

    <body>
        <a href="/">Inicio</a>
        <form id="search-form">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <button type="button" onclick="searchContact()">Buscar</button>
        </form>
        <table border="1" id="table_contactos">
            <thead id="thead_contactos">
                <th>Email</th>
                <th>Nombre</th>
                <th>Teléfono</th>
            </thead>
            <tbody id="tbody_contactos">
            </tbody>
        </table>
        <script>
            function searchContact() {
                var emailInput = document.getElementById("email");
                var email = emailInput.value;
                getForEmail(email);
            }
        </script>
    </body>
</html>
