<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contactos</title>
        <script type="text/javascript" src="../static/js/post.js"></script>
    </head>

    <body>
        <a href="/">Inicio</a>
        <form id="search-form">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br>
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono">
            <button type="button" onclick="post(document.getElementById('email', 'nombre', 'telefono').value)">Insertar</button>
        </form>
    </body>
</html>
